# Dependencies
node_modules

# Build output
.output
.vercel
.netlify
.wrangler
/.svelte-kit
/build
/Document

# OS files
.DS_Store
Thumbs.db

# Environment files
.env
.env.*
!.env.example
!.env.test
# Vite temporary files
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

# Certificates / Keys
*.pem
*.key

.livekitpid
# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Misc
*.log

# Runtime / Temp files
.livekit_pid